/* Nav element */
nav {
  height: var(--space-2xl);
  display: flex;
  gap: var(--space-2xs);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: var(--space-xs) var(--space-l);
  color: rgb(0, 41, 0);
}

nav * {
  text-decoration: none;
  font-size: var(--space-m);
}

/* Navbar Links */
.links {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.links a {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
}

.links a:visited {
  color: rgb(0, 41, 0);
}

.links p {
  margin: 0;
}

.logo {
  font-size: var(--space-l);
}

@media (min-width: 700px) {
  nav {
    height: var(--space-m);
    margin: var(--space-m) var(--space-2xl);
    flex-direction: row;
  }

  .links {
    width: auto;
    gap: var(--space-l);
  }
}
