/* Nav element */
nav {
  flex: 0 1 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 5rem;
  font-size: 1.5rem;
}

/* Navbar Links */
.links {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.links a {
  display: flex;
  place-content: center;
  gap: 0.5rem;
}

nav a:hover {
  font-weight: 800;
}
