.posts {
  padding: var(--space-s) var(--space-s);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.postPreview {
  padding: var(--space-s);
  text-align: center;
  border: 2px solid rgb(var(--color-primary-3));
  border-radius: var(--space-s);
  background-color: rgb(var(--color-primary-3), 0.5);
  margin: var(--space-s);
  text-decoration: none;
  color: rgb(var(--color-btn-text));
}

.postPreview:hover {
  background-color: rgb(var(--color-primary-3));
  cursor: pointer;
}

@media (min-width: 700px) {
  .posts {
    padding: var(--space-s) var(--space-4xl);
  }
}
