.projects {
  width: 100%;
  padding: var(--space-s) var(--space-s);
  overflow-y: scroll;
  overflow-x: hidden;
  gap: var(--space-4xl);
  display: grid;
  justify-items: center;
}

@media (min-width: 700px) {
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  }
}
