.projects {
  width: 100%;
  padding: var(--space-s) var(--space-s);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.projectPreview {
  padding: var(--space-s);
  text-align: center;
  border: var(--space-4xs) solid rgb(0, 41, 0);
  border-radius: var(--space-s);
  background-color: rgb(160, 233, 160);
  margin: var(--space-s);
  text-decoration: none;
  color: rgb(0, 41, 0);
}

.projectPreview:hover {
  background-color: rgb(124, 238, 124);
  cursor: pointer;
}

.projectPreview ul {
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-xs);
  padding-left: var(--space-s);
}

@media (min-width: 700px) {
  .projectPreview {
    min-width: 50vw;
    max-width: 50vw;
  }
}
