.app {
  overflow-x: hidden;
  padding: 0 var(--space-xl);
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin: var(--space-2xs) 0;
}

.links {
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .links {
    flex-direction: row;
    gap: var(--space-xl);
  }
}
