@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rock+Salt&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: var(--space-2xs) 0;
}

/* Center headers */
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs-s);
  flex-direction: column;
  text-align: center;
}

/* Set core body defaults */
html,
#root {
  min-height: 100%;
  overscroll-behavior: contain;
  overflow-x: hidden;
}

body,
main {
  transition-property: background-color, color, border, border-color;
  transition-duration: 0.6s, 0.3s, 0.4s, 0.4s;
}

[data-theme="dark"] h1 {
  text-shadow: 0 0 var(--space-3xs) rgb(var(--color-secondary-2));
}

[data-theme="light"] h1 {
  text-shadow: 1px 1px var(--space-3xs) rgb(var(--color-secondary-1));
}

@keyframes gradientMove {
  0% {
    background-position: 0%, 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0%, 0%;
  }
}

body {
  height: auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
  font-weight: 400;
  width: 100vw;
  min-height: 100vh;
  color: rgb(var(--color-text));
  scrollbar-color: rgb(var(--color-secondary-2)) rgba(0, 0, 0, 0);
  background: linear-gradient(
    120deg,
    rgb(var(--color-bg-1)) 40%,
    rgb(var(--color-bg-2))
  );
}

main {
  width: 100vw;
  min-height: 100vh;
  flex: 1;
  padding: var(--space-4xl) var(--space-2xs) var(--space-m) var(--space-2xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

/* Class to bold and italicize text */
.bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Fluid spacing scale generated with Utopia */
/* @link https://utopia.fyi/space/calculator?c=320,12,1.2,2560,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|1.7|2|2.7|3.3|4|5|6,s-l&g=s,l,xl,12 */

:root {
  /* Space 3xs: 3px → 5px */
  --space-3xs: clamp(0.1875rem, 0.1696rem + 0.0893vw, 0.3125rem);
  /* Space 2xs: 6px → 10px */
  --space-2xs: clamp(0.375rem, 0.3393rem + 0.1786vw, 0.625rem);
  /* Space xs: 9px → 15px */
  --space-xs: clamp(0.5625rem, 0.5089rem + 0.2679vw, 0.9375rem);
  /* Space s: 12px → 20px */
  --space-s: clamp(0.75rem, 0.6786rem + 0.3571vw, 1.25rem);
  /* Font size: 16px → 24px */
  --font-default: clamp(1rem, 0.9286rem + 0.3571vw, 1.5rem);
  /* Space m: 18px → 30px */
  --space-m: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.875rem);
  /* Space l: 20px → 34px */
  --space-l: clamp(1.25rem, 1.125rem + 0.625vw, 2.125rem);
  /* Space xl: 24px → 40px */
  --space-xl: clamp(1.5rem, 1.3571rem + 0.7143vw, 2.5rem);
  /* Space 2xl: 32px → 54px */
  --space-2xl: clamp(2rem, 1.8036rem + 0.9821vw, 3.375rem);
  /* Space 3xl: 40px → 66px */
  --space-3xl: clamp(2.5rem, 2.2679rem + 1.1607vw, 4.125rem);
  /* Space 4xl: 48px → 80px */
  --space-4xl: clamp(3rem, 2.7143rem + 1.4286vw, 5rem);
  /* Space 5xl: 60px → 100px */
  --space-5xl: clamp(3.75rem, 3.3929rem + 1.7857vw, 6.25rem);
  /* Space 6xl: 72px → 120px */
  --space-6xl: clamp(4.5rem, 4.0714rem + 2.1429vw, 7.5rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 3px → 10px */
  --space-3xs-2xs: clamp(0.1875rem, 0.125rem + 0.3125vw, 0.625rem);
  /* Space 2xs-xs: 6px → 15px */
  --space-2xs-xs: clamp(0.375rem, 0.2946rem + 0.4018vw, 0.9375rem);
  /* Space xs-s: 9px → 20px */
  --space-xs-s: clamp(0.5625rem, 0.4643rem + 0.4911vw, 1.25rem);
  /* Space s-m: 12px → 30px */
  --space-s-m: clamp(0.75rem, 0.5893rem + 0.8036vw, 1.875rem);
  /* Space m-l: 18px → 34px */
  --space-m-l: clamp(1.125rem, 0.9821rem + 0.7143vw, 2.125rem);
  /* Space l-xl: 20px → 40px */
  --space-l-xl: clamp(1.25rem, 1.0714rem + 0.8929vw, 2.5rem);
  /* Space xl-2xl: 24px → 54px */
  --space-xl-2xl: clamp(1.5rem, 1.2321rem + 1.3393vw, 3.375rem);
  /* Space 2xl-3xl: 32px → 66px */
  --space-2xl-3xl: clamp(2rem, 1.6964rem + 1.5179vw, 4.125rem);
  /* Space 3xl-4xl: 40px → 80px */
  --space-3xl-4xl: clamp(2.5rem, 2.1429rem + 1.7857vw, 5rem);
  /* Space 4xl-5xl: 48px → 100px */
  --space-4xl-5xl: clamp(3rem, 2.5357rem + 2.3214vw, 6.25rem);
  /* Space 5xl-6xl: 60px → 120px */
  --space-5xl-6xl: clamp(3.75rem, 3.2143rem + 2.6786vw, 7.5rem);

  /* Custom pairs */
  /* Space s-l: 12px → 34px */
  --space-s-l: clamp(0.75rem, 0.5536rem + 0.9821vw, 2.125rem);
  --gradient-size: calc(var(--space-3xl) * 20);
}

[data-theme="light"] {
  --color-text: 43, 43, 43;
  --color-btn-text: 43, 43, 43;
  --color-bg-1: 242, 242, 237;
  --color-bg-2: 242, 238, 237;
  --color-primary-1: 106, 159, 120;
  --color-primary-2: 122, 175, 201;
  --color-primary-3: 163, 143, 201;
  --color-secondary-1: 199, 162, 124;
  --color-secondary-2: 230, 221, 197;
  --font-display: "Arima";
  --line-height: 1.3;
  --font-size-adjust: 1.5;
  --box-shadow-hover: 0 var(--space-2xs) var(--space-2xs);
  --box-shadow-pressed: 0 var(--space-3xs) var(--space-3xs);
  --box-shadow-color-primary-1: rgba(0, 0, 0, 0.2);
  --box-shadow-color-primary-2: rgba(0, 0, 0, 0.2);
  --box-shadow-color-primary-3: rgba(0, 0, 0, 0.2);
  --box-shadow-color-secondary-1: rgba(0, 0, 0, 0.2);
  --box-shadow-color-secondary-2: rgba(0, 0, 0, 0.2);
}

/* Dark Theme */
[data-theme="dark"] {
  --color-text: 234, 234, 234;
  --color-btn-text: 27, 31, 47;
  --color-bg-1: 27, 31, 47;
  --color-bg-2: 64, 31, 84;
  --color-primary-1: 47, 247, 227;
  --color-primary-2: 162, 89, 255;
  --color-primary-3: 255, 93, 233;
  --color-secondary-1: 191, 255, 0;
  --color-secondary-2: 0, 166, 255;
  --font-display: "Rock Salt";
  --line-height: 1.9;
  --font-size-adjust: 1;
  --box-shadow-hover: 0 0 var(--space-m);
  --box-shadow-pressed: 0 0 var(--space-xl);
  --box-shadow-color-primary-1: rgba(var(--color-primary-1));
  --box-shadow-color-primary-2: rgba(var(--color-primary-2));
  --box-shadow-color-primary-3: rgba(var(--color-primary-3));
  --box-shadow-color-secondary-1: rgba(var(--color-secondary-1));
  --box-shadow-color-secondary-2: rgba(var(--color-secondary-2));
}

/* Font sizes */
p,
a,
li,
input,
label,
button {
  font-size: var(--font-default);
}

h6 {
  font-size: var(--space-m);
}

h5 {
  font-size: var(--space-l);
  font-family: "Nunito";
}

h4 {
  font-size: var(--space-xl);
  font-family: "Nunito";
}

h3 {
  font-size: var(--space-2xl);
  font-family: "Nunito";
}

h2 {
  font-size: calc(var(--space-2xl) * var(--font-size-adjust));
  font-family: var(--font-display);
  line-height: var(--line-height);
}

h1 {
  font-weight: 700;
  margin-top: var(--space-m);
  font-family: var(--font-display);
  font-size: calc(var(--space-3xl) * var(--font-size-adjust));
}

.name {
  font-family: "Nunito";
  font-size: var(--space-3xl);
  font-weight: 300;
  margin: 0;
}

h2 {
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.button {
  padding: var(--space-s);
  text-align: center;
  border: 2px solid rgb(var(--color-primary-1));
  border-radius: var(--space-m);
  background-color: rgba(var(--color-primary-1), 0.7);
  margin: var(--space-s);
  text-decoration: none;
  color: rgb(var(--color-btn-text));
  font-weight: 600;
  transition:
    box-shadow 0.4s ease,
    background-color 0.35s ease;
}

.button:hover {
  background-color: rgba(var(--color-primary-1), 0.9);
  cursor: pointer;
  box-shadow: var(--box-shadow-hover) var(--box-shadow-color-primary-1);
}

.button:active {
  background-color: rgba(var(--color-primary-1));
  box-shadow: var(--box-shadow-pressed) var(--box-shadow-color-primary-1);
}

@media (min-width: 700px) {
  h1 {
    flex-direction: row;
  }

  main {
    padding: 0 var(--space-3xl);
    padding-top: var(--space-4xl);
  }
}
